Hello <%= name %>, thanks for signin up.<br/>
Please <a href="<%= confirm_success_url %>">confirm</a> your email get full access.<br/>
If you didn't sign up <a href="<%= confirm_fraud_url %>">let us know</a> so we can suspend the account.<br/>
